<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Navbar brand -->
        <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.PNG" alt="" height="30px"></a>

    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="background">
    <img src="assets/images/background.jpg" alt="" class="background-img">
</div>
<div>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>